# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Machine Learning models
*.joblib
*.pkl

# Generated reports
final_report.json
incident_output.json
reconstructed_incidents.json

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.bak
*.save
*.swp

node_modules/
frontend/node_modules/
build/
frontend/build/
.env
*.log